<div class="col-start-1"><%=number%></div>

<div class="flex gap-2 col-start-2">


<p><%=username%><p>
</div>
<div   class="col-start-3">

<p   ><%=crop_name%><p>
</div>
<div  class="col-start-4">

<p><%=area_name%><p>
</div>

<div  class="col-start-5">

<p><%=district%><p>
</div>
<div  class="col-start-6 justify-center items center gap-2 flex">

<p><%=phone_number%><p>
<a href="/farmer/<%=username%>">
<svg class="h-6 w-6 text-slate-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"/>
</svg>

</a>
<a href="farmerdel/<%=username%>" >del</a>
</div>
