<div class="col-start-1"><%=number%></div>

<div class="flex gap-2 col-start-2">


<p><%=username%><p>
</div>
<div   class="col-start-3">

<p   ><%=crop_name%><p>
</div>
<div  class="col-start-4">

<p><%=area_name%><p>
</div>

<div  class="col-start-5">

<p><%=district%><p>
</div>
<div  class="col-start-6">

<p><%=phone_number%><p>
</div>
